{% extends 'base.html.twig' %}

{% block title %}RoboStore | Trouvez le Robot Qui Correspond à Votre Vision{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/catalog.css') }}">
{% endblock %}

{% block body %}

    <main>
            <h1>
                Votre Robot, Votre Aventure : 
                <br>Explorez l'Excellence Technologique
            </h1>

            <section class="product">
                <div class="product-frame">
                    {% for robot in robots %}
                        <a class="product-link" href="{{ path('robot_details', {'id': robot.id}) }}">
                            <div class="image-frame">
                                <img src="{{ asset('/upload/robots/' ~ robot.image) }}" alt="{{ robot.name }}">
                            </div>
                            
                            <div class="product-info">
                                <div>
                                    <h3 class="home-robot-name">{{robot.name}}</h3>
                                    <p class="home-robot-description">{{robot.shortDescription}}</p>
                                </div>
                                <p class="home-robot-price">{{ robot.price }} €</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </div>
        
        <div class="navigation">
            {{ knp_pagination_render(robots) }}
        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        function truncate(text, maxlength) {
            return (text.length > maxlength) ? text.slice(0, maxlength - 1) + '…' : text;
        }
        let descriptions = document.querySelectorAll('div.home-robot-description');
        descriptions.forEach(description => {
            let truncatedText = truncate(description.textContent, 250);
            description.textContent = truncatedText;
        });

    </script>
{% endblock %}
