{% extends 'base.html.twig' %}

{% block title %}Hello RobotController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        {% for robot in robots %}
            <a href="{{ path('robot_details', {'id': robot.id}) }}">
                <p>{{robot.name}}</p>
                <div class="description">{{robot.description|raw}}</div>
                <img src="{{ asset('/upload/robots/' ~ robot.image) }}" alt="{{ robot.name }}">
            </a>
        {% endfor %}
    </div>
    
    <div class="navigation">
        {{ knp_pagination_render(robots) }}
    </div>
{% endblock %}

{% block script %}
    <script>
        function truncate(text, maxlength) {
            return (text.length > maxlength) ? text.slice(0, maxlength - 1) + '…' : text;
        }
        let descriptions = document.querySelectorAll('div.description');
        descriptions.forEach(description => {
            let truncatedText = truncate(description.textContent, 250);
            description.textContent = truncatedText;
        });

    </script>
{% endblock %}
